.dropdownbtn{
    max-width: 100% !important;
    width: 100%;
    color: #333 !important;
    background: #fff !important;
    border: 1px solid #ced4da !important;
}
.dd-item{
    width: 100%;
    background: transparent;
    border: 0;
    text-align: left;
}
.dd-item img{
    height: 25px !important;
    width: 25px !important;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #333;
}